.comments {
    padding: 10px;
    background-color: whitesmoke;
    border-top: 10px solid rgba(255, 0, 0, 0.397);
    border-right: 5px solid rgba(255, 255, 0, 0.548);
    border-bottom: 10px solid rgba(255, 0, 0, 0.397);
    border-left: 5px solid rgba(255, 255, 0, 0.548);
    margin-left: 10px;
    margin-right: 10px;
}

.information {
    display: flex;
    flex-wrap: no-wrap;
    margin: 0px 10px 0px 10px;
}

.details {
    margin-left: 10px;
    padding: 40px;
    padding-top: 100px; 
    
}

